#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 5px; 
  background-color: #f8f9fa; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}


